<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression" verbose="1" >
    <test name="Release1">
        <classes>
            <class name="HomePageTest">
                   <methods>
                        <include name="testAlerts"/>
                        <include name="testElements"/>

                   </methods>
            </class>
        </classes>
       </test> <!-- Test -->
</suite> <!-- Suite -->
